* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Microsoft YaHei, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

.container {
  width: 100%;
  height: 100%;
}

.container .title {
  color: #333;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

ul,
ul li {
  list-style: none;
  color: #666;
  margin-bottom: 4px;
}
ul li label {
  color: #888;
  min-width: 50px;
  display: inline-block;
}
